{% extends "layout.html" %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <div>
        {% include "menu_admin.html" %}

        <h1>Смен пароля</h1>
    
        {% with confirmations = get_flashed_messages() %}
        {% if confirmations %}
        {%- for confirmation in confirmations %}
        <div style="padding:4px;color:green;border:1px solid green;">{{ confirmation }}</div>
        {% endfor -%}
        {% endif %}
        {% endwith %}

        {% for field in form.errors %}
        {% for error in form.errors[field] %}
        <div style="padding:4px;color:red;border:1px solid red;">
            {{error}}
        </div>
        {% endfor %}
        {% endfor %}
    
        <form action="/change-password" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div style="padding:4px 0;">
                {{ form.password.label }} 
                <div style="padding:4px 0;">
                    {{ form.password() }}
                </div>
            </div>
            <div style="padding:4px 0;">
                {{ form.confirm_password.label }} 
                <div style="padding:4px 0;">
                    {{ form.confirm_password() }}
                </div>
            </div>

            <div style="padding:4px 0;">
                <button type="submit">Сохранить</button>
            </div>
        </form>

    </div>
{% endblock %}
